@page "/"

<PageTitle>Home</PageTitle>

<h1 class="md-typescale-display-medium">Hello, world!</h1>

<span class="md-typescale-body-medium">Welcome to your new app.</span>

@* <md-chip-set>
    <md-assist-chip label="Assist"></md-assist-chip>
    <md-filter-chip label="Filter"></md-filter-chip>
    <md-input-chip label="Input"></md-input-chip>
    <md-suggestion-chip label="Suggestion"></md-suggestion-chip>
</md-chip-set> *@