@page "/"

@inject AgentService agent

<PageTitle>Agent</PageTitle>

<CascadingValue Value="@agent">

    <FluentCard>

        <FluentStack Style="height: 100%">

            <FluentStack Orientation="Orientation.Vertical" style="height: 100%">

                <div class="roster">

                    <div class="chat-history">

                        @if (agent.IsProcessing)
                        {
                            <CurrentMessage />
                        }

                        <MessageList />

                    </div>

                    <ConversationInput />

                </div>

            </FluentStack>

        </FluentStack>

    </FluentCard>

</CascadingValue>

@code {
    protected override void OnInitialized() => agent.Refresh = StateHasChanged;
}

<style>
    fluent-text-area::part(control) {
        padding-right: 32px;
        height: auto;
        field-sizing: content;
    }

    .roster {
        column-gap: 10px;
        row-gap: 10px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        .chat-history {
            all: inherit;
            flex-direction: column-reverse;
        }

    }

    /* Define scrollbar width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 4px;
    }

    html {
        scrollbar-width: thin;
        scrollbar-color: var(--accent-fill-rest) transparent;
    }
</style>